<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shaurya.lal10catalogue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".FireApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeScreen"
            android:label="@string/title_activity_welcome_screen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductSingleActivity"
            android:parentActivityName=".GetAllProductsCardLayout" />
        <activity android:name=".GetAllProductsCardLayout"
            android:parentActivityName=".WelcomeScreen">
        </activity>
        <activity android:name=".UploadImageFromCamera" />
        <activity android:name=".UploadImage">

        </activity>
        <activity android:name=".Login">

        </activity>
        <activity android:name=".Profile" />
        <activity android:name=".GetAllProducts" />
        <activity android:name=".AddProduct" />
        <activity android:name=".Hotels"
            android:label="Hotels"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CatalogueActivity"
            android:parentActivityName=".WelcomeScreen"/>
        <activity android:name=".CorporateGifting"
            android:label="Corporate Gifting"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ExportHouses"
            android:label="Export Houses"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Boutiques_Designers"
            android:label="Boutiques and Designers"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Exhibitions"
            android:label="Exhibitions"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".CSR_Philanthropy"
            android:label="CSR and Philanthropy"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>